# Database
DB__HOST=localhost
DB__PORT=5432
DB__NAME=postgres
DB__USER=postgres
DB__PASSWORD=postgres

# Redis
REDIS__HOST=redis
REDIS__PORT=6379
REDIS__BROKER_DB=0
REDIS__RESULT_DB=1

# Mail
MAIL__USERNAME=example@gmail.com
MAIL__PASSWORD=your_app_password

# JWT
JWT__SECRET=super_secret_key
JWT__ALGORITHM=HS256
JWT__ACCESS_EXPIRE_MINUTES=15
JWT__REFRESH_EXPIRE_DAYS=30

# API
API__PREFIX=/api/v1

# Google
GOOGLE__CLIENT_ID=Yb23...
GOOGLE__CLIENT_SECRET=JKB3...
GOOGLE__REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback
GOOGLE__TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE__USERINFO_URL=https://www.googleapis.com/oauth2/v2/userinfo
